.cards_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards_container_out{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:0 20px
}