.all{
  overflow:scroll;
  margin:0;
  padding-bottom:100px;
  background-color: #222;
  height: 80vh;
  width: 100%;
}
.span_1{
  color:white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.all::-webkit-scrollbar {
  -webkit-appearance:none;
}
.all::-webkit-scrollbar-track {
  width: 10px;
}

.all::-webkit-scrollbar {
  width:5px;
}

.all::-webkit-scrollbar-thumb {
  background: linear-gradient(52deg,rgba(28,41,71,1) 0%, rgba(80,40,106,1) 84%, chocolate 98%);
  border-radius: 20px;
  border: 2px linear-gradient(52deg,rgba(28,41,71,1) 0%, rgba(80,40,106,1) 84%, chocolate 98%);;
}

/* .all::-webkit-scrollbar-track {
  border-radius: 10px;
} */