.container{
    margin-top: 50px;
    padding-top: 3rem;
    position: relative;
    width: 100vw;
    height:250px;
    border-top: solid 1px rgb(87, 85, 82);
    background-color: rgb(15, 15, 15);
    margin-bottom: -40px;
    display: flex;
    flex-wrap: wrap;
}
.henry{
    width: 20rem;
}
.items{
    flex-grow: 1;
    flex-basis: 300px;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: 1.1rem;
}
.copy{
    position: absolute;
    bottom: 0;
    left:45%;
}
@media (max-width: 920px){
    .container{
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}