@media (max-width: 749px) {
.container_nav{
    background-color: rgba(210, 105, 30, 0.848);
    width: 50px;
    height: 50px;
    position:fixed;
    right: 30px;
    bottom: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(210, 105, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span{
    background-color: #ffffffe6;
    width: 25px;
    height:3px;
    margin: 2px;
}
.button_container{
    padding-top: 50px;
    padding-left: 30px;
    background: rgb(0, 0, 0);
    background: linear-gradient(176deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.734) 100%);
    position: fixed;
    width: 100vw;
    height:35vh;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.button_nav{
    background-color: rgba(0, 0, 0, 0.451);
    border:none;
    outline: none;
    margin: 10px 0;
}
}